html,
body {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

#body {
	flex: 1;
	display: flex;
	flex-direction: column;
}
#body .top {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#body .bottom {
	height: 70px;
}
